tbody tr:nth-child(odd) td {
    background: #f5f5f5 !important;
}

td {
    background: white;
    display: table-cell !important;
}

.total-orders-h2 {
    font-weight: 400;
}

.settings-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-ended {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

#wrapper-status {
    margin-bottom: 2px;
}

.status-text {
    width: 150px !important;
}

.flatpickr-input {
    background: #fff !important;
    width: 150px !important;
    padding: 0.45rem 1em;
}

#submit {
    margin-left: 10px;
}

.wrapper-to-date {
    margin-left: 10px;
}

.btn-date {
    margin-left: 10px !important;
}

.button-date {
    border: 1px solid #adadad;
    padding: 0.25rem 0.8em 0.45rem 0.8em;
    text-align: center;
    cursor: pointer;
}

#current-page-input {
    padding: 0.25rem 0 0.45rem 0 !important;
    width: 50px;
}

.currency-wrapper {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

@media (min-width: 768px) {
    .settings-wrapper {
        flex-direction: row;
        align-items: flex-end;
    }

    .tablenav-pages {
        position: absolute;
        right: 0;
    }
}
